<div class="container">
  <div class="row">
    <div class="col-12">
        <h1>Create ticket</h1>
    </div>

    <div class="col-12">
      <h3>Can't find what you're looking for?
        <br>We’re happy to answer any questions you may have, just send us a ticket.</h3>
    </div>
    <div class="col-12">
      <button mat-raised-button color="primary" (click)="openDialog()">Create a new ticket</button>
    </div>
  </div>
  <div class="row">
    <div class="col-6 pt-3">
      <h1>Tickets</h1>
    </div>
    <div class="col-6">
      <app-ticket-filter></app-ticket-filter>
    </div>
  </div>
  <app-ticket-list [items]="tickets$ | async"></app-ticket-list>
</div>