/* You can add global styles to this file, and also import other style files */
@font-face {
    font-family: "Avenir Next";
    src: local("Avenir Next"), url(./assets/fonts/AvenirNextCyr-Regular.ttf) format("truetype");
}

@import '~@angular/material/theming';
$custom-typography: mat-typography-config(
  $font-family: 'Avenir Next'
);

@include angular-material-typography($custom-typography);
@import '~quill/dist/quill.bubble.css';
@import '~quill/dist/quill.snow.css';
html, body { height: 100%; }
body { margin: 0; }
.container{
    font-family: "Avenir Next", Arial, Helvetica, sans-serif;
    padding-top: 50px;
    padding-bottom: 50px;

}
